/* styles.css */
#dimmed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

#panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-height: 80%;
    overflow-y: auto;
    background-color: white;
    padding: 20px 40px 20px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    border-radius: 5px;
}

.btn__holder {
    display: flex; 
    flex-wrap: wrap;
}

.btn__primary {
    flex: 1 1 30%;  
    width: 100%;
    max-width: 200px;
    height: 40px;
    background-color: #00babc;
    color: white;
    font-family: "futura-pt", "Helvetica", "Sans serif";
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
    margin-top: 6px;
    border: 0;
}

.btn__primary:hover {
    background-color: #009699;
}

a.btn__primary_url {
    text-decoration: underline;
    color: #00849b;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    font-weight: 500;
    font-size: 15px;
}

a.btn__primary_url:hover {
    color: #00437a;
    text-decoration: underline;
}

div#panel ul {
    margin: 0;
}

div#panel li {
    margin-bottom: 2px;
}
